<section ng-controller="create">

    <div class='header blue'>
        <counter>{{counter}}</counter>
        <h3 class='center'>Waiting for another player to join.</h3>
    </div>

    <div class='container'>
        <div class='row'>
            <div class='col-sx-6 col-sm-6 col-sm-offset-3'>
                <a ng-click='start()' class="btn btn-info btn-block" role="button">Play solo?</a>
            </div>
        </div>
        
        <div class='row'>
            <div class='col-sx-6 col-sm-6 col-sm-offset-3'>
                <a href='#/' class="btn btn-primary btn-block" role="button">Back to Menu</a>
            </div>
        </div>
    </div>
</section>