<section ng-controller='join'>
    <div class='header blue'>
        <h3 class='center white'>What are you doing here?</h3>
    </div>

    <h4 class='center'>There are no games available right now. Maybe start one yourself?</h4>

    <div class='container'>
        <div class='row'>
            <div class='col-sx-6 col-sm-6 col-sm-offset-3'>
                <a href="#/create" class="btn btn-primary btn-block" role="button">Create Game</a>
            </div>
        </div>

        <div class='row'>
            <div class='col-sx-6 col-sm-6 col-sm-offset-3'>
                <a href="#/" class="btn btn-info btn-block" role="button">Back to menu</a>
            </div>
        </div>
    </div>

</section>