/* ------------------------------------------------------------------------
* Twitter Bootstap
* ------------------------------------------------------------------------- */
/* *************************************************
* Imports
* ************************************************** */
@import "../styles/variables";
@import "sass-bootstrap/lib/bootstrap";

/* Module Specific CSS
-------------------------------------------------- */
/*@import "/home/home-styles.scss";*/

/* *************************************************
* Page Body
* ************************************************** */
html, body {
}

body {
  background: #fafafa;
  font-family: $font-family-base;
  color: $text-color;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.4em;
}

h3 {
  font-size: 2.4em;
}

p.large {
  font-size: 1.6em;
}

p span {
  font-size: inherit;
}

hr {
  border-top: 1px solid #a3a2ae;
  margin-top: 60px;
  margin-bottom: 60px;
}

blockquote {
  padding: 0;
  margin: 0;
  border: 0;

  small {
    color: #fff;
  }
}

.orange {
  color: $orange;
}

.white {
  color: #fff;
  margin-top: 0;
  padding-top: 10px;
}

/* Custom Classes
-------------------------------------------------- */
.container-full .row {
  margin-left: 0;
  margin-right: 0;
}

.center {
  text-align: center;
}

img.center, a.center {
  margin: 0 auto;
}

.menu .btn {
  overflow: hidden;
}

.counter {
  text-align: center;
  padding-top: 20px;
  font-size: 6em;
  color: #fff;
}

.header.blue {
  background-color: rgba(5, 175, 255, 0.48);
  padding-bottom: 10px;
  margin-bottom: 40px;

  h3 {
    color: #fff;
  }

  h1 {
    margin-top:0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.questions .header.blue {
  p {
    font-size: 3em;
    color: #fff;
  }

  p.large {
    color: #000;
    font-weight: bold;
    font-size: 3.2em;
  }
} 

.header.menu {
  background-image: url("/images/mike.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/mike.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/mike.png', sizingMethod='scale')";
  
  background-position: center 24px;
  height: 462px;
  background-repeat: no-repeat;

  .sub{
    background-color: rgba(5, 175, 255, 0.48);
    position: relative;
    top: 250px;
    height: 212px;

    img {
      position: relative;
      top: 60px;
      width: 100px;
    }

    .container {
      position: relative;
      bottom: -76px;

      h4 {
        color: #fff;
      }
    }
  }
}

.row {
    margin-bottom: 10px;
}

.nav-item {
  height: 115px;
  position: absolute;
  margin-top: -57.5px;
  top: 54%;
  cursor: pointer;

  img {
    height: 115px;
  }
}

@media (min-width: 768px) {
  .nav-item {
    height: 300px;

    img {
      height: 150px;
    }
  }

  .nav-item.left {
    left: 20px;
  }

  .nav-item.right {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .menu .btn {
    height: 150px;
    padding-top: 48px;
    font-size: 2em;
  }

  .nav-item {
    height: 115px;
    position: absolute;
    bottom: 30px;
  }

  .nav-item.left {
    left: 5px;
  }

  .nav-item.right {
    right: 5px;
  }

  .questions .header.blue {
    p {
      font-size: 1.5em;
      color: #fff;
    }

    p.large {
      color: #000;
      font-weight: bold;
      font-size: 1.7em;
    }
  }
}

.ng-invalid {
  background-color: red !important;
  border-color: red !important;
}